.upload {
  border-left: 10px solid #0B486B;
	border-right: 10px solid #0B486B;
	border-bottom: 10px solid #0B486B;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: white;
}

.result div{
  font-size: 20px;
  margin: 20px;
}

.upload-area {
  background-color: white;
  margin: auto;
  width: 200px;
  height: 200px;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5px;
}

.active {
  background-color: white;
  margin: auto;
  width: 200px;
  height: 200px;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5px;
}

.rejected {
  background-color: white;
  margin: auto;
  width: 200px;
  height: 200px;
  border-width: 2px;
  border-color: red;
  border-style: dashed;
  border-radius: 5px;
}

.accepted {
  background-color: white;
  margin: auto;
  width: 200px;
  height: 200px;
  border-width: 2px;
  border-color: green;
  border-style: dashed;
  border-radius: 5px;
}